body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

video, canvas {
  background: black;
  object-fit: cover;
}

#l-video {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  bottom: 0px;
  width: 40vw;
  height: calc(40vw * 9/16);
  left: 30vw;
}

#l-video > * {
  width: 100%;
  height: 100%;
}

#r-video {
  width: 100%;
  height: 100%;
}

#r-video > * {
  width: 50%;
}

#r-video > *:only-child {
  width: 100%;
  height: 100%;
}
