body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

video {
  background: black;
  object-fit: cover;
}

#l-video {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  bottom: 20px;
  width: 320px;
  right: calc(50% - 160px);
}

#l-video > * {
  max-width: 100%;
  border-radius: 10px;
}

#r-video {
  width: 100%;
  height: 100%;
}

#r-video > * {
  width: 50%;
}

#r-video > *:only-child {
  width: 100%;
  height: 100%;
}
